*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 100%;
  height: 100vh;
}



/* ********************CALL TO ACTION***************** */

.call-to-action{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  width: calc(100% - 200px);
  height: 50px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
}

.upgrade{
  line-height: 50px;
}
.upgrade a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 35px;
  padding: 10px 25px;
  margin-right: 20px;
  transition: padding 0.2s ease;
}

.upgrade a:hover{
  padding: 12px 27px;
  margin-right: 19px;
}

main{
  overflow: hidden;
  height: calc(100vh - 80px);
  width: 100%;
  background-color:  #141922;
}


aside, .content{
  float: left;
  height: 100%;
}

.content{
  width: calc(100% - 200px);
}


/* *******************************ASIDE************ */
.logo{
  line-height: 50px;
}

.big-logo{
  width: 60%;
  cursor: pointer;
  height: 50px;
}

.small-logo{
  width: 30px;
  display: none;
}

ul{
  list-style: none;
}

ul li{
  cursor: pointer;
}

aside{
  float: left;
  background-color: black;
  width: 200px;
  height: 100%;
  padding-left: 10px;
  color: #414141;
}

aside ul li img{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  vertical-align: middle;
  filter: opacity(0.5);
}

aside li:hover img,
.aside-bottom>:first-child:hover img{
  filter: none;
}

ul li:hover, .aside-bottom>:first-child:hover{
  color: white;
}

.home{
  border-left: 2px solid green;
}

.aside-top{
  min-height: 180px;
  height: calc(100% - 80px);
}

.playlist-aside{
  overflow: auto;
  height: calc(100% - 200px);
  margin-top: 20px;
}
.span-aside{
  text-transform: uppercase;
  color: white;
}

.playlist-aside ul li {
  padding: 5px 0;
}

.select i{
  font-size: 40px;
  vertical-align: middle;
  margin-right: 10px;
}

.select{
  line-height: 30px;
}

.user{
  background-color: grey;
  border-radius: 50%;
}

.john{
  color: white;
}

.aside-bottom{
  overflow: hidden;
  height: 80px;
}

.aside-bottom img{
  filter: opacity(0.5);
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.aside-bottom span{
  padding: 10px 0;
}

.aside-bottom img:hover, .aside-bottom span:hover {
  cursor: pointer;
  filter: opacity(1);
  color: white;
}

.line{
  height: 5px;
  border-bottom: 1px solid;
  margin: 10px 10px 10px 0;
}

/* ***********************content-music************** */

.content-music{
  overflow: auto;
  height: 100%;
  width: 100vw;

}

.title-content-music{
  width: calc(100vw - 200px);
}

.content-music ul li{
  font-size: 14px;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  margin: 10px;
  color: #414141;
}

.content-music ul{
  text-align: center;
  padding-top: 50px;
}

.content-music ul li:hover{
  color: white;
}

.green{
  border-bottom: 2px solid green;
}

/* **************row**************** */
.row{
  margin: 10px 20px;
  width: calc(100% - 200px);
}

.row p{
  font-size: 20px;
  color: white;
  margin: 20px 0;
}

.row .title-row{
  margin-bottom: 5px;
}

.subtitle-row{
  display: block;
  font-size: 10px;
  color: #414141;
  margin-bottom: 20px;
}

.element{
  display: inline-block;
  width: 15%;
  margin: 0 2px 5px 0;
}

.img-album{
  width:100%;
  height: 100%;
  
}

.img-album img{
  position: relative;
  width: 100%;
  filter: opacity(1);
}

.img-album img:hover{
  filter: opacity(0.5);
}

.title-album, .subtitle-album{
  display: block;
  text-align: center;

}

.subtitle-album{
  font-size: 10px;
}

.circle{
  border-radius: 50%;
}

/* *******************************copertine-album************ */

.front{

}












/* .heavy-metal{
  background-image: url(../img/metal_lifting.jpg);
}

.stranger-things{
  background-image: url(../img/stranger.jpeg);
}

.quite-place{
  background-image: url(../img/aquietplace.jpeg);
}

.split{
  background-image: url(../img/split.jpeg);
}

.wellness{
  background-image: url(../img/cure.jpeg);
}

.sinister{
  background-image: url(../img/sinister.jpeg);
} */

/* ***************************FOOTER*********** */
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  height: 80px;
  width: 100%;
  background-color: #282828;
  color: white;
}


/* **************FOOTER-LEFT*********** */
.footer-left{
  display: flex;
  align-items: center;
}

.footer-left img{
  height: 50px;
  margin: 0 10px;
}

.subtitle{
  font-size: 10px;
  color: #414141;
}

.footer-left i{
  color: #414141;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}
.footer-left i:hover{
  color: white;
}

/* **************FOOTER-CENTRAL*********** */
.footer-central{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-central-top ul{
  display: flex;
  align-items: baseline;
}

.footer-central-top ul li i{
  font-size: 20px;
  margin: 20px ;
  color: white;
  transition: color 0.1s linear;
}

.footer-central-top ul li .play{
  font-size: 30px;
}


.footer-central-top ul li i:hover{
  color: green;
}

.footer-central-down{
  display: flex;
  align-items: center;
}

.riprod-line.front{
  display: block;
  height: 2px;
  width: 200px;
  background-color: #414141;
  margin: 0 20px;
  border-radius: 2px;
  cursor: pointer;
}

.riprod-line.front:hover .riprod-line.over{
  display: inline-block;
}
.riprod-line.front:hover .ball{
  display: inline-block;
}

.riprod-line.over, .ball{
  display: none;
}

.riprod-line.over{
  height: 3px;
  width: 150px;
  background-color: white;
  margin: 0 20px 5px 20px;
  border-radius: 2px;
}

.ball{
  font-size: 40px;
  margin-bottom: 25px;
  margin-left: -22px;
}


/* ********footer right*************** */

.footer-right i{
  color: white;
  margin: 5px;
  cursor: pointer;
}

.footer-right{
  display: flex;
  align-items: center;
}

.footer-right .riprod-line{
  height: 2px;
  background-color: #414141;
  width: 70px;
  margin: 10px;
  cursor: pointer;
}


/* ****************************media query********/

@media screen and (max-width: 768px){

  .content-music ul li {
    font-size: 11px;
    margin: 5px;
    padding-top: 15px;
  }

  .element{
    width: 30%;
  }

}


@media screen and (max-width: 600px){

  .content-music ul li {
    font-size: 10px;
  }

  .element{
    width: 45%;
  }

  .big-logo{
    display: none;
  }
  
  .small-logo{
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  .aside-top ul span, .playlist-aside, .aside-bottom span, .line{
    display: none;
  }

  .aside-bottom img{
    display: block;
  }

  .user{
    margin: 25px 0;
  }

  aside{
    width: 50px;
  }

  .call-to-action, .title-content-music, .row{
    width: calc(100% - 50px);
  }

  .row{
    margin: 0 auto;
  }

 


  

}










