*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

header{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo{
  height: 50px;
  width: 200px;
  background-color: black;
}

.logo img{
  width: 60%;
  margin-left: 20px;
  cursor: pointer;
  height: 50px;
}

.upgrade a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 35px;
  padding: 10px 25px;
  margin-right: 20px;
}

.upgrade a:hover{
  font-size: 15px;
  padding: 11px 26px;
  margin-right: 19px;
}

main{
  height: calc(100vh - 130px);
  /* width: calc(100% - 200px); */
  background-color:  #141922;
}
/* *******************************ASIDE************ */

ul{
  list-style: none;
  cursor: pointer;
}

aside{
  background-color: black;
  width: 200px;
  height: calc(100vh - 130px);
  padding-left: 10px;
  padding-top: 10px;
  color: #414141;
  
}

aside ul li img{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  vertical-align: middle;
  filter: opacity(0.5);
}

aside li:hover img,
.aside-bottom>:first-child:hover img{
  filter: none;
}

aside li:hover, .aside-bottom>:first-child:hover{
  color: white;
}

.home{
  border-left: 2px solid green;
}

.aside-central{
  overflow: auto;
  height: 50%;
  margin-top: 20px;
}
.playlist-aside{
  text-transform: uppercase;
  color: white;
}

.aside-central ul li {
  padding: 5px 0;
}

.select i{
  font-size: 40px;
  vertical-align: middle;
  margin-right: 10px;
}

.select{
  line-height: 30px;
}

.user{
  background-color: grey;
  border-radius: 50%;
}

.john{
  color: white;
}


.aside-bottom img{
  filter: opacity(0.5);
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.aside-bottom span{
  padding: 10px 0;
  cursor: pointer;
}

.line{
  height: 5px;
  border-bottom: 1px solid;
  margin: 10px 10px 10px 0;
}



/* ***************************FOOTER*********** */
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  background-color: #282828;
  color: white;
}


/* **************FOOTER-LEFT*********** */
.footer-left{
  display: flex;
  align-items: center;
}

.footer-left img{
  height: 50px;
  margin: 0 10px;
}

.subtitle{
  font-size: 10px;
  color: #414141;
}

footer i{
  color: #414141;
  font-size: 14px;
  margin-left: 10px;
}

/* **************FOOTER-CENTRAL*********** */
/* .footer-central{
  background-color: blue;
} */

.footer-central-top ul{
  display: flex;
  align-items: baseline;
}
.footer-central-top ul li i{
  font-size: 20px;
  margin: 20px ;
  color: white;
}

.footer-central-top ul li .play{
  font-size: 30px;
}

.footer-central-down{
  display: flex;

}

.riprod-line{
  height: 2px;
  width: 240px;
  background-color: white;
}

.footer-right{
  background-color: pink;
}











